.header{
    text-align: center;
    padding-top: 50px;
    line-height: 25px;
}
.header h1{
    margin-bottom: 0px;
    font-family:cursive;
    font-weight: 600;
}
.header p{
    margin: 0;
    font-size:x-large;
    font-family:cursive;
    font-style: italic;
}
.header h2{
    margin: 0;
    font-family:fantasy;
}